* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #f9f9f9;
}
body {
  background-color: #0a0a0a;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0 0 0 0);
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
