
/* header */
header {
  width: 100%;
  height: 80px;
  background-color: 111111;
  position: absolute;
  background-color: #252423;
  background-color: transparent;
  z-index: 10;
}
/* left */
.headerLeft {
  float: left;
  display: flex;
  align-items: center;
  height: 80px;
  gap: 20px;
  padding-left: 136px;
}
.headerLeft h1 {
  font-size: 1.2rem;
}

.logoRight {
  width: 26px;
  height: 26px;
}

.menuLeft .navi {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navi > li {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  position: relative;
}
.navi > li > a {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.02rem;
}
.navi > li > a svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.navi > li:hover {
  background-color: rgba(255, 255, 255, 0.3);

}
/* right */
.menuRight {
  padding-right: 38px;
  float: right;
  display: flex;
  align-items: center;
  height: 80px;
  gap: 20px;
}
.langMenu { /* 언어 21가지   */
  display: none;
}
.searchBox {
  position: relative;
}
.search {
  width: 200px;
  height: 34px;
  border-radius: 20px;
  border: 1px solid #f9f9f9;
  background-color: transparent;
  padding: 0 22px;
}
.searchBox svg{
  content: '';
  width: 19px;
  height: 22px;
  color: #f9f9f9;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.menuRight button {
  width: 80px;
  height: 35px;
  background-color: #d13639;
  color: #111;
  border-radius: 15px;
  cursor: pointer;
  border: 0 none;
  font-weight: bold;
  letter-spacing: -0.05rem;
}


/* main */
main {
  width: 100%;
  height: 51.063rem;
  padding-top: 6.25rem;
  background-image: url(../img/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 7.125rem;
}
.mainInner {
  width: 100%;
  height: 56.063rem;
  position: absolute;
  top: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.title {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem; /* 30px*/
  margin-top: 1.875rem;
  margin-left: 0.625rem; /* 10px */
  position: relative;
  z-index: 5;
}
.title img {
  width: 50%;
}
.title h2 {
  letter-spacing: -0.1rem;
  text-align: center;
  font-size: 30px;
}
.title button {
  border-radius: 25px;
  background-color: #fe9739;
  width: 248px;
  height: 72px;
  line-height: 72px;
  text-align: end;
  padding-right: 27px;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  border: 0 none;
}
.title button svg {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 12px;
  top: 12px;
  border-radius: 50%;
}
.title button:hover {
  box-shadow: 0 0 20px rgba(254, 147, 57, 0.5);
}

/* section 공통 */
.secTit {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 73px;
  text-align: center;
}

/* section01: 소식 */
.sec01 {
  height: 630px;
  margin-bottom: 212px;
  display: flex;
  flex-direction: column;
}
.secInner01 {
  display: flex;
  gap: 24px;
}
.secInner01 > a {
  position: relative;
  width: 1024px;
  height: 512px;
  border-radius: 6px;
  overflow: hidden;
  transition: border 0.1s ease-in-out;
}
.secInner01 > a img {
  width: 1024px;
  height: 512px;
  object-fit: cover;
}
.secInner01 > a h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 24px;
  margin-bottom: 57px;
  font-weight: bold;
  font-size: 28px;
}
/* notice */
.notice {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

}
.notice li {
  width: 692px;
  height: 130px;
  border-radius: 7px;
  position: relative;
  background-color: rgba(128, 128, 128, 0.2);
}

.notice a {
  overflow: hidden;
  width: 682px;
  height: 120px;
  background-color: #222;
  position: relative;
}
.noticeTxt {
  position: absolute;
  width: 510px;
  height: 120px;
  line-height: 1.5;
  background-color: #222;
  float: left;
  letter-spacing: -0.1rem;
  padding: 26px;
  font-weight: bold;
  font-size: 18px;
}
.noticeTxt p {
  color: #5e5d5b;
  font-size: 15px;
}
.noticeInner img {
  clip-path: polygon(100% 0, 100% 100%, 3% 108%, 15% 8%);
  height: 130px;
  object-fit: cover;
  object-position: right;
  float: right;
  vertical-align: baseline;
}
.secInner01 a:hover {
  border:2px solid #bbb;
}



/* section02: 게임 */
.sec02 {
  height: 1424px;
  margin-bottom: 150px;
  padding: 92px;
}
.mainGame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.mainGame a {
  width: 855px;
  height: 390px;
  position: relative;
  border: 2px solid #1c1c1c;
  border-radius: 12px;
  overflow: hidden;
  transition: border 0.1s ease-in-out;
}
.sec02inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 115px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.mainGame a img {
  transform: scale(0.6);
}
.mainGame a span {
  font-size: 14px;
  padding-bottom: 62px;
}
.lol {
  background: url(../img/lol-card-bg-1800.jpg) center/cover no-repeat;
}
.val {
  background: url(../img/val-card-bg-1800.png) center/cover no-repeat;
}

.otherGames {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
  place-items: center;
}
.otherGames a {
  width: 563px;
  height: 255px;
  border: 2px solid #1c1c1c;
  border-radius: 6px;
  overflow: hidden;
  transition: border 0.1s ease-in-out;
}

.tft {
  background: url(../img/tft-card-bg-900.jpg) center/cover no-repeat;
}
.wildRift {
  background: url(../img/lol-wildrift-productimage900.png) center/cover no-repeat;
}
.runeterra {
  background: url(../img/legends-of-runeterra-productimage900.png) center/cover no-repeat;
}
.ruinedKing {
  background: url(../img/ruined-king-productimage900.png) center/cover no-repeat;
}
.hextechMayhem {
  background: url(../img/hextetch-mayhem-card-bg-900.jpg) center/cover no-repeat;
}
.convrgence {
  background: url(../img/convrgence-productimage900.png) center/cover no-repeat;
}
.songOfNunu {
  background: url(../img/song-of-nunu-card-bg-900.jpg) center/cover no-repeat;
}
.otherGames a img {
  transform: scale(0.5) translateX(-10rem);
}
.mainGame a:hover,
.otherGames a:hover {
  border: 2px solid #bbb;
}


/* section03: 지원 */
.sec03 {
  width: 100%;
  height: 573px;
  position: relative;
}
.sec03Left {
  background-color: #fff;
  color: #0a0a0a;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0; top: 0;
  float: left;
  clip-path: polygon(0 0, 55% 0, 50% 100%, 0 100%);
  padding: 5rem 0 0 20rem;
}
.sec03Left h2 {
  color: #0a0a0a;
  font-size: 44px;
  letter-spacing: -0.2rem;
  margin-bottom: 30px;
}
.sec03Left p {
  color: #656462;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.1rem;
  margin-bottom: 43px;
}
.sec03Left .sec03Box {
  
}
.sec03Left .sec03Box a {
  float: left;
  width: 268px;
  height: 142px;
  border-radius: 6px;
  background-color: #dfdede;
  font-size: 50px;
  font-weight: bold;
  color: #0a0a0a;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.sec03Left button {
  color: #656462;
  position: absolute;
  bottom: 5rem;
  left: 30rem;
  background-color: #d1363a;
  border: 0 none;
  width: 260px;
  height: 64px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  color: #f9f9f9;
  cursor: pointer;
}
.sec03Left button:hover {
  opacity: 0.9;
}
.sec03Right {
  width: 50%;
  height: 573px;
  right: 0; top: 0;
  float: right;
}
.sec03Right img {
  height: 573px;
  object-fit: cover;
}


/* footer */
footer {
  width: 100%;
  color: #8a8887;
  padding: 30px 240px;
}
.fTop {
  border-bottom : 1px solid #383838;
}
.fTop,
.fBot {
  width: 100%;
  height: 70px;
  float: left;
}
.fTopLeft a,
.fBotLeft p,
.fBotRight {
  color: #8a8887;
  font-size: 12px;
}
.fTopLeft > a,
.fTopLeft svg {
  width: 40px;
  height: 40px;
}
.fTopLeft {
}
.fTopLeft li {
  float: left;
  margin-right: 36px;
}
.fTopLeft li a svg {
  background-color: #5e5d5b;
  /* color: #656462; */
}

.fTopRight svg {
  width: 20px;
  height: 20px;
  background-color: #656462;
  float: right;
  margin: 10px;
}

.fBot {
  padding: 30px 0 50px;
}
.fBotLeft {
  float: left;
  display: flex;
  gap: 23px;
}
.fBotLeft p {
  font-size: 12px;
}
.copy {
  position: relative;
  font-size: 8px;
}
.fBotLeft .copy::before {
  content: '';
  width: 2px;
  height: 20px;
  position: absolute;
  background-color: #5d5c5a;
  left: -11px;
}
.fBotRight {
  float: right;
  font-size: 15px;
}


